<div infinite-scroll='appraisal_form.paginateLoad()' infinite-scroll-distance="1" infinite-scroll-disabled="appraisal_form.busy" infinite-scroll-parent ng-if="appraisal_form.show">
	<div ng-if="appraisal_form.items.length" flex flex-gt-md="90">
		<md-list>
			<md-list-item class="md-3-line secondary-button-padding" ng-repeat="appraisal_form in appraisal_form.items | filter: toolbar.searchText | orderBy:sortType:sortReverse" ng-if="showInactive || !appraisal_form.deleted_at" ng-click="view(appraisal_form.id)">
				<h2 class="md-avatar" ng-class="appraisal_form.deleted_at ? 'red-bg': 'primary-bg'" layout="row" layout-align="center center">
					<span class="md-headline white-text">{{ appraisal_form.department.name.charAt(0).toUpperCase() }}</span>
				</h2>
				<div class="md-list-item-text">
					<h3>{{ appraisal_form.department.name }}</h3>
					<h4>{{ appraisal_form.appraisal_period.start | date: 'MMM. dd, yyyy'}} to {{ appraisal_form.appraisal_period.end | date: 'MMM. dd, yyyy'}}</h4>
					<p>{{ appraisal_form.description }}</p>
				</div>
				<md-menu class="md-secondary" ng-show="!appraisal_form.deleted_at">
					<md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
			            <md-icon class="mdi mdi-dots-vertical grey"></md-icon>
			            <md-tooltip></md-tooltip>
			        </md-button>

			        <md-menu-content width="4" ng-show="!appraisal_form.deleted_at">
						<!-- Update -->
			            <md-menu-item>
				            <md-button aria-label="Update" ng-click="update(appraisal_form)" flex>
				                Update
				            </md-button>
			        	</md-menu-item>
			        	<md-menu-item ng-if="!appraisal_form.hideDelete">
				            <!-- Delete -->
				            <md-button aria-label="Delete" ng-click="delete(appraisal_form)" flex>
				                Delete
				            </md-button>
			        	</md-menu-item>
			        </md-menu-content>
				</md-menu>
			</md-list-item>
		</md-list>
	</div>	
</div>
<div layout="row" layout-align="center center" layout-padding layout-margin ng-if="isLoading">
	<md-progress-circular class="md-primary" md-diameter="60"></md-progress-circular>
</div>
<div layout-padding layout-margin ng-if="!appraisal_form.items.length && appraisal_form.show && !appraisal_form.no_matches">
	Nothing to display.
</div>