<form name="form.appraisalForm" layout="row" layout-align="center center">
	<div flex flex-gt-md="80">
		<md-list>
			<md-list-item class="md-3-line">
				<h2 class="md-avatar" ng-class="appraisal_form.deleted_at ? 'red-bg': 'primary-bg'" layout="row" layout-align="center center">
					<span class="md-headline white-text">{{ appraisal_form.department.name.charAt(0).toUpperCase() }}</span>
				</h2>
				<div class="md-list-item-text">
					<h3>{{ appraisal_form.department.name }}</h3>
					<h4>{{ appraisal_form.appraisal_period.start | date: 'MMM. dd, yyyy'}} to {{ appraisal_form.appraisal_period.end | date: 'MMM. dd, yyyy'}}</h4>
					<p>{{ appraisal_form.description }}</p>
				</div>
			</md-list-item>
		</md-list>
		<md-subheader ng-if="locked_reviews.length">Employees with results</md-subheader>
		<md-chips ng-model="locked_reviews" readonly="true" ng-if="locked_reviews.length"></md-chips>
		<md-switch ng-model="form.include_all" ng-change="checkAll()" class="md-primary">All</md-switch>
		<md-content class="autocomplete" ng-if="users.length">
			<md-contact-chips ng-model="appraisal_form.reviews" md-contacts="querySearch($query)" md-contact-name="name" md-contact-email="email" md-contact-image="image" md-require-match="true" md-highlight-flags="i" filter-selected="true" placeholder="Add"></md-contact-chips>
			
			<md-list class="fixedRows">
				<md-subheader class="md-no-sticky">Employees</md-subheader>
				<md-list-item class="md-2-line contact-item" ng-repeat="user in users | orderBy: 'last_name'">
					<img ng-if="!user.avatar_path" src="/img/2Color-Favicon_512x512-1.png" alt="" class="md-avatar">
					<img ng-if="user.avatar_path" ng-src="/user/avatar/{{user.id}}" alt="" class="md-avatar">
					<div class="md-list-item-text compact">
						<h3>{{user.last_name}}, {{user.first_name}} <span ng-if="user.suffix">{{user.suffix + '.'}}</span></h3>
						<p>{{user.email}}</p>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</div>
</form>