<div layout="row" layout-align="center center">
	<form name="form.reviewForm" layout="column" flex flex-gt-md="80">
		<!-- Goals -->
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Goals - 80%</h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<div ng-repeat="goal in review.goals">				
					<md-list>
						<md-list-item class="md-2-line">
							<h2 class="md-avatar md-headline primary-bg" layout="row" layout-align="center center">
								<span class="white-text">{{goal.parameter.charAt(0).toUpperCase()}}</span>
							</h2>
							<div class="md-list-item-text">
								<h3>{{goal.parameter}}</h3>
								<p>Weight: {{goal.weight * 100}}%</p>
							</div>
						</md-list-item>
					</md-list>
					<div layout="column">
						<h4 class="md-subhead">Self Assessment Rating</h4>
						<md-input-container>
							<md-radio-group name="SelfAssessment{{$index}}" ng-model="goal.self_assessment" layout="row" required>
								<md-radio-button value="1" class="md-primary" flex>1 - Unsatisfactory</md-radio-button>
								<md-radio-button value="2" class="md-primary" flex>2 - Improvement Needed</md-radio-button>
								<md-radio-button value="3" class="md-primary" flex>3 - Meet Expectations</md-radio-button>
								<md-radio-button value="4" class="md-primary" flex>4 - Exceeds Expectations</md-radio-button>
								<md-radio-button value="5" class="md-primary" flex>5 - Excellent</md-radio-button>
							</md-radio-group>
						</md-input-container>
					</div>
					<div layout="row">
						<!-- Employee Remarks -->
						<md-input-container class="md-block" flex-gt-sm flex-xs="100" flex-sm="100">
							<label>Employee Remarks</label>
							<textarea name="EmployeeRemarks{{$index}}" ng-model="goal.employee_remarks"></textarea>
						</md-input-container>
					</div>
				</div>
			</md-card-content>
		</md-card>
		<!-- Behavioral Competency -->
		<md-card>
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Behavioral Competency - 20%</h2>
				</div>
			</md-toolbar>
			<md-card-content>
				<div ng-repeat="behavioral_competency in review.behavioral_competencies">				
					<md-list>
						<md-list-item class="md-2-line">
							<h2 class="md-avatar md-headline primary-bg" layout="row" layout-align="center center">
								<span class="white-text">{{behavioral_competency.parameter.charAt(0).toUpperCase()}}</span>
							</h2>
							<div class="md-list-item-text">
								<h3>{{behavioral_competency.parameter}}</h3>
								<p>{{behavioral_competency.description}}</p>
							</div>
						</md-list-item>
					</md-list>
					<div layout="column">
						<h4 class="md-subhead">Self Appraisal Rating</h4>
						<md-input-container>
							<md-radio-group name="SelfAssessment{{$index}}" ng-model="behavioral_competency.self_appraisal_rating" layout="row" required>
								<md-radio-button value="1" class="md-primary" flex>1 - Unsatisfactory</md-radio-button>
								<md-radio-button value="2" class="md-primary" flex>2 - Improvement Needed</md-radio-button>
								<md-radio-button value="3" class="md-primary" flex>3 - Meet Expectations</md-radio-button>
								<md-radio-button value="4" class="md-primary" flex>4 - Exceeds Expectations</md-radio-button>
								<md-radio-button value="5" class="md-primary" flex>5 - Excellent</md-radio-button>
							</md-radio-group>
						</md-input-container>
					</div>
					<div layout="row">
						<!-- Employee Remarks -->
						<md-input-container class="md-block" flex-gt-sm flex-xs="100" flex-sm="100">
							<label>Employee Remarks</label>
							<textarea name="EmployeeRemarks{{$index}}" ng-model="behavioral_competency.employee_remarks"></textarea>
						</md-input-container>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</form>
</div>	
